# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.mel

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.moved-aside
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3

# Android
.gradle/
local.properties
**/gradle-wrapper.jar
**/gradlew
**/gradlew.bat
**/gradle/wrapper/gradle-wrapper.properties
.cxx/

# VS Code
.vscode/
.history

# IntelliJ / Android Studio
.idea/
*.iml

# macOS
.DS_Store

# Logs
*.log

# Env files
.env
